fixme

.svn

*.aps
*.icproj
*.ncb

publish.cmd
exclude_files
test/
*.user
out/stuff/
compress.cmd
run_me_to_publish.cmd
safe_call.cmd
out/samples/boost-build/
out/samples/ide/
*.lib
*.pdb
*.idb
ipch/
*.sdf
temp/
doc/manuals*/*

